body {
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

p {
	text-align: justify;
	margin-bottom: 20px;
}

.footer {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}

/* desktop */
@media only screen and (min-width: 901px) {
	.container {
		max-width: 910px;
	}

	p {
		font-size: 18px;
	}

	ul {
		font-size: 18px;
	}
}

/* tablets maiores */
@media only screen and (min-width: 820px) and (max-width: 900px) {
	.container {
		max-width: 766px;
	}

	p {
		font-size: 18px;
	}

	ul {
		font-size: 18px;
	}
}

/* tablets menores */
@media only screen and (min-width: 766px) and (max-width: 819px) {
	.container {
		max-width: 765px;
	}

	p {
		font-size: 18px;
	}

	ul {
		font-size: 18px;
	}
}

/* smartphones */
@media only screen and (max-width: 765px) {
	.container {
		max-width: 640px;
	}
}