h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

p {
	text-align: justify;
	margin-bottom: 20px;
}

.form-control {
  	margin-bottom: 20px;
  	font-size: 16px;
}

.data {
	width: 150px;
	text-align: center;
}

.qtd {
	width: 70px;
	text-align: center;
}

.submit {
	text-align: center;
}

.footer {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}

.checkbox {
	margin-left: 50px;
}

#indicacao {
	font-weight: bold;
}

/* desktop */
@media only screen and (min-width: 901px) {

	body {
		margin-top: 60px;
	}

	.container {
		max-width: 910px;
	}

	p, ul, #indicacao {
		font-size: 18px;
	}

}

/* tablets maiores */
@media only screen and (min-width: 820px) and (max-width: 900px) {

	body {
		margin-top: 60px;
	}

	.container {
		max-width: 766px;
	}

	p, ul, #indicacao {
		font-size: 18px;
	}

}

/* tablets menores */
@media only screen and (min-width: 766px) and (max-width: 819px) {

	body {
		margin-top: 60px;
	}

	.container {
		max-width: 765px;
	}

	p {
		font-size: 18px;
	}

	ul {
		font-size: 18px;
	}
}

/* smartphones */
@media only screen and (max-width: 765px) {

	body {
		margin-top: 60px;
	}

	.container {
		max-width: 640px;
	}
}
