body {
  	padding-top: 40px;
  	background-color: #eee;
    margin: 0;
}

h3 {
	text-align: center;
}

#texto {
  text-align: justify;
  margin-bottom: 20px;
}

.alert {
	max-width: 250px;
  	margin: 20px auto 0;
  	text-align: center;
}

#UsuarioPermanecerConectado {
	display: inline;
	margin-right: 10px;
}

.form-signin {
  	max-width: 290px;
  	padding: 15px;
  	margin: 0 auto;
}

.form-signin .form-control {
  	position: relative;
 	height: auto;
  	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
  	padding: 10px;
  	font-size: 16px;
}

.form-signin input {
  	margin-bottom: 10px;
}
.form-signin input[type="submit"] {
  	margin-top: 20px;
}

.panel {
  width: 270px;
  margin: 0 auto;
}